.master-detail {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.master-detail vaadin-split-layout {
    width: 100%;
    height: 100%;
}

.master-detail vaadin-grid {
    height: 100%;
}

.master-detail .editor-layout {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.master-detail .editor {
    flex-grow: 1;
    padding: var(--lumo-space-l);
}

.master-detail .editor vaadin-checkbox {
    padding-top: var(--lumo-space-m);
}

.master-detail .button-layout {
    width: 100%;
    flex-wrap: wrap;
    background-color: var(--lumo-contrast-5pct);
    padding: var(--lumo-space-s) var(--lumo-space-l);
    gap: var(--lumo-space-m);
}

.master-detail .grid-wrapper {
    width: 100%;
}