@import url('./film-header.css');

.inputDiv {
    padding: 5px;
}

.invoiceDiv {
    margin-top: 15px;
}

#invoiceDate {
    text-align: right;
}

/* Distribution table */

.filmDistDiv #table {
    border-collapse: collapse;
    width: 100%;
}

.filmDistDiv #table td, .filmDistDiv #table th {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.filmDistDiv #table th:nth-child(3), .filmDistDiv #table th:nth-child(4), .filmDistDiv #table td:nth-child(3), .filmDistDiv #table td:nth-child(4) {
    text-align: right;
}

/* Costs table */

.costs {
    margin-top: 30px;
    margin-left: auto;
    width: 300px;
    text-align: right;
}

.costs #costsTable {
    border-collapse: collapse;
    width: 100%;
}

.costs #costsTable th p {
    margin: 0;
}

.costs #costsTable th {
    padding: 10px;
    font-weight: 300;
    border-bottom: 2px solid #ddd;
}

.costs #costsTable tr:nth-child(3) th {
    font-weight: bold;
    border-bottom: none;
}

.costs #costsTable th:nth-child(1) {
    text-align: left;
}

.costs #costsTable th:nth-child(2) {
    text-align: right;
}

/* Footer table */

.footerDiv {
    padding: 5px;
    text-align: center;
    font-weight: 200;
}