vaadin-scroller[slot="drawer"] {
  padding: var(--lumo-space-s);
}

[slot="drawer"]:is(header, footer) {
  display: flex;
  align-items: center;
  gap: var(--lumo-space-s);
  padding: var(--lumo-space-s) var(--lumo-space-m);
  min-height: var(--lumo-size-xl);
  box-sizing: border-box;
}

[slot="drawer"]:is(header, footer):is(:empty) {
  display: none;
}


vaadin-app-layout::part(navbar) {
  z-index: 3;
  box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 3px;
}

vaadin-app-layout::part(drawer) {
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

vaadin-login-overlay-wrapper::part(title) {
  font-size: 2.2em;
}

vaadin-login-form-wrapper::part(footer) {
  text-align: center;
  width: 100%;
}

.chartLayout {
  margin: .5em auto;
  padding-top: .5em;
  box-shadow: rgba(0, 0, 0, .35) 0 5px 15px;
  border-radius: .5em;
}